* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

h1 {
  display: none;
}

.answer {
  font-size: 11em;
  font-weight: bold;
  margin: auto;
}

footer {
  background-color: rgba(204,204,204,0.25);
  font-weight: lighter;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 2.5vh 0;
}

footer a {
  text-decoration: none;
  color: hsl(168,99%,25%);
  transition: all 0.2s linear;
}

footer a:hover {
  color: hsl(168,99%,15%);
}
